* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

/* Navigation Bar Styles */

.topnav {
    overflow: hidden;
    margin-left: 23px;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: rgba(0, 0, 0, 0.384);
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 20px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    color: black;
}


/* Introduction Section Styles */
.introduction { 
    margin-left: 15%;
    margin-top: 10%;
}

.introduction-header {
    font-family: 'Fanwood Text', serif;
    font-size: 65px;
}

.name-underline {
    font-family: 'Fanwood Text', serif;
    background-image: linear-gradient(120deg, #84faaf8c 0%, #8fd2f470 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.25em;
    background-position: 0 65%;
    transition: background-size 0.25s ease-in;
}

.name-underline:hover {
    background-size: 100% 65%;
}

.introduction-header2 {
    font-family: 'Fanwood Text', serif;
    margin-top: -23px;
    font-size: 65px;

}

.introduction-bio {
    margin-top: 5px;
    line-height: 1.5;
    width: 55%;
}